<ion-header>
    <ion-navbar color="primary">
       <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
       <ion-title>Doctor {{userEmail}}</ion-title>
       <ion-buttons end>   

          <button *ngIf="!user" (click)="autenticarEmail1()" ion-button icon-only>
              <ion-icon name="log-in">email1</ion-icon>
          </button> 
          <button *ngIf="user" (click)="logout()" ion-button icon-only>
            <ion-icon name="log-out"></ion-icon>
        </button> 

          <button *ngIf="!user" (click)="autenticarEmail2()" ion-button icon-only>
            <ion-icon name="log-in">email2</ion-icon>
        </button> 

       </ion-buttons> 

   </ion-navbar>
 </ion-header>
 


  <ion-content class="myContent" color="dark">
    <div class="message-wrap">
  
      <div *ngFor="let msg of sala | async"
           class="message"
           [class.left]="msg.email != userEmail"
           [class.right]="msg.email === userEmail">
        <img *ngIf="msg.userAvatar" class="user-img" [src]="msg.userAvatar" alt="" >
        <img *ngIf="!msg.userAvatar" class="user-img" src="../../assets/images/iconMedico.png" alt="" >

        <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
        <div class="msg-detail">
          <div class="msg-info">
            <p>
              {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
          </div>
          <div class="msg-content">
            <span class="triangle"></span>
            <p class="line-breaker ">{{msg.message}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  
  <ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <div class="input-wrap">
      <!-- <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
        <ion-icon name="md-happy"></ion-icon>
      </button> -->
      <textarea #chat_input [disabled]="!user"
                placeholder="Enviar Menssagem"
                [(ngModel)]="editorMsg"
                (keyup.enter)="sendMsg()"
                (focusin)="onFocus()"
                >
      </textarea>
      <button ion-button clear icon-only item-right (click)="sendMsg()" [disabled]="!user">
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>
    <!-- <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->